.col-1 {
  width: 8.333%;
}

.col-2 {
  width: 16.667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3%;
}

.col-5 {
  width: 41.7;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.67%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  width: 100%;
}

body::-webkit-scrollbar {
  width: 0;
}

.header-topmenu {
  justify-content: center;
  align-items: center;
  backdrop-filter: saturate(50%) blur(6px);
  z-index: 50;
  position: fixed;
  top: 0;
}
.header-topmenu .transparent {
  position: absolute;
  opacity: 0.6;
  min-height: 84px;
  width: 100%;
  z-index: 0;
  background-color: #fff;
}
.header-topmenu .header-top-menu-wr {
  margin-left: 342px;
  height: 84px;
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  min-width: 0;
  max-width: 64%;
  width: 64%;
  align-items: center;
  opacity: 1;
  position: relative;
  z-index: 10;
}
.header-topmenu .header-top-menu-wr .burger-menu {
  width: 32px;
  height: 15px;
  padding-bottom: 13px;
  padding-left: 7px;
  opacity: 1;
}
.header-topmenu .header-top-menu-wr .burger-menu .pic {
  width: 32px;
  cursor: pointer;
  opacity: 1;
}
.header-topmenu .header-top-menu-wr .custom-logo-link {
  margin-left: 40px;
  margin-top: 3px;
}
.header-topmenu .header-top-menu-wr .custom-logo {
  width: 137px;
  height: 52px;
}
.header-topmenu .header-top-menu-wr .menu-list-wr {
  min-width: 590px;
  overflow: hidden;
}
.header-topmenu .header-top-menu-wr .menu-list-wr .menu-list {
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  list-style: none;
  position: relative;
  justify-content: space-between;
  margin: auto;
  padding-left: 3vw;
}
.header-topmenu .header-top-menu-wr .menu-list-wr .menu-list li {
  list-style: none;
  overflow: hidden;
}
.header-topmenu .header-top-menu-wr .menu-list-wr .menu-list li a {
  text-decoration: none;
  color: #949494;
  font-family: "GILORY", Arial, sans-serif;
  overflow: hidden;
  transition: color 0.2s ease-in-out;
  border: 0;
}
.header-topmenu .header-top-menu-wr .menu-list-wr .menu-list li a:hover {
  color: #ff6f0f;
}
.header-topmenu .header-top-menu-wr .menu-list-wr .menu-list li:last-child {
  margin-right: 0;
}
.header-topmenu .header-top-menu-wr .reg-block {
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
}
.header-topmenu .header-top-menu-wr .reg-block .enter {
  width: 90px;
  height: 40px;
  background-color: #e3e3e3;
  text-align: center;
  margin-left: 78px;
  border-radius: 8px;
}
.header-topmenu .header-top-menu-wr .reg-block .enter .enter-btn {
  align-self: center;
  justify-self: center;
  height: 100%;
  font-family: "GILORY", Arial, sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #949494;
  line-height: 2.3;
  font-size: 18px;
}
.header-topmenu .header-top-menu-wr .reg-block .tff {
  margin-left: 30px;
  width: 202px;
  height: 40px;
  background-image: linear-gradient(198deg, rgb(255, 175, 22) 1%, rgb(255, 111, 15) 97%);
  box-shadow: 1px 1px 30px 0px rgba(255, 111, 15, 0.3);
  border-width: 0px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
}
.header-topmenu .header-top-menu-wr .reg-block .tff .tff-btn {
  color: white;
  font-family: "GILORY", serif;
  line-height: 2.3;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
}

.cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.6;
  z-index: 798;
}

.slide-out-menu {
  position: fixed;
  height: 100;
  width: 310px;
  top: 0;
  left: -310px;
  height: 100vh;
  z-index: 799;
  transition: all 0.45s;
  background-color: #262626;
}
.slide-out-menu .cut {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.slide-out-menu .close {
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  align-items: center;
  position: absolute;
  top: 13px;
  right: 14px;
  text-align: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 900;
}
.slide-out-menu .close-span {
  display: block;
  content: "";
  width: 24px;
  height: 2px;
  background-color: white;
  border-radius: 1px;
  position: absolute;
  z-index: 999;
}
.slide-out-menu .close-right {
  transform: rotate(45deg);
}
.slide-out-menu .close-left {
  transform: rotate(-45deg);
}
.slide-out-menu .menuis {
  position: relative;
  z-index: 800;
  width: 230px;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  align-items: flex-start;
  padding: 48px 40px 38px 40px;
}
.slide-out-menu .menuis .custom-logo-2 {
  height: 42px;
  width: 120px;
  margin-bottom: 22px;
}
.slide-out-menu .menuis .left-side-menu {
  position: relative;
  margin: 0;
  padding: 0;
}
.slide-out-menu .menuis .left-side-menu li {
  list-style: none;
  margin-bottom: 15px;
  position: relative;
}
.slide-out-menu .menuis .left-side-menu li:first-child > a {
  display: block;
  width: 90px;
  z-index: 1;
}
.slide-out-menu .menuis .left-side-menu .arrow {
  height: 100%;
}
.slide-out-menu .menuis .left-side-menu .arrow::after {
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 3px 0;
  position: absolute;
  display: table-cell;
  vertical-align: middle;
  top: 12px;
  left: 81px;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-color: transparent;
  border-top-color: inherit;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  font-family: "GILORY";
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 0;
}
.slide-out-menu .menuis .left-side-menu a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  font-family: "GILORY";
}
.slide-out-menu .menuis .left-side-menu .popup-menu {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  left: -29px;
  top: 48px;
  background-color: white;
  width: 200px;
  height: 460px;
  text-align: left;
  max-width: 200px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  display: block;
  z-index: 900;
  transition: opacity 450ms;
}
.slide-out-menu .menuis .left-side-menu .popup-menu ul {
  padding: 18px 20px;
  height: 424px;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: space-between;
}
.slide-out-menu .menuis .left-side-menu .popup-menu ul li {
  margin-bottom: 12px;
}
.slide-out-menu .menuis .left-side-menu .popup-menu ul li a {
  color: #000;
  font-family: "GILORY";
  font-size: 14px;
  line-height: 1.35;
  font-weight: 600;
  white-space: normal;
  width: 100%;
}
.slide-out-menu .menuis .left-side-menu .popup-menu ul li:last-child {
  margin: 0;
}
.slide-out-menu .menuis .left-side-menu .shown {
  visibility: visible;
  opacity: 1;
}
@keyframes appear {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.slide-out-menu .menuis .left-side-menu .popup-menu::after {
  background-color: white;
  content: "";
  position: absolute;
  left: 63px;
  top: -7px;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 10px;
  right: auto;
  transform: rotate(45deg);
}
.slide-out-menu .menuis .contacts {
  margin-top: 231px;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
}
.slide-out-menu .menuis .contacts .phonenumb a {
  font-family: "GILORY";
  font-size: 24px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}
.slide-out-menu .menuis .contacts .socials-wr {
  margin-top: 30px;
}
.slide-out-menu .menuis .contacts .socials-wr .socials {
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  justify-content: space-between;
}
.slide-out-menu .menuis .contacts .socials-wr .socials .social {
  margin-right: 4px;
  background-color: white;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: auto;
}
.slide-out-menu .menuis .contacts .socials-wr .socials .social img {
  width: 25px;
}
.slide-out-menu .menuis .contacts .langs {
  margin-top: 19px;
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  text-decoration: none;
  color: white;
  font-family: "GILORY";
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;
}
.slide-out-menu .menuis .contacts .langs p {
  margin-right: 2px;
}
.slide-out-menu .menuis .contacts .mail {
  margin-top: 15px;
}
.slide-out-menu .menuis .contacts .mail a {
  font-family: "GILORY", Arial, sans-serif;
  font-size: 13px;
  color: white;
  text-decoration: none;
  font-weight: 300;
}

.fst-section {
  margin: 0;
  padding: 78px 0 0 0;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #f5f5f5;
}
.fst-section .fsheader-wr {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin: 25px 0 0 0;
}
.fst-section .fsheader-wr .txt-cover {
  margin: 0;
  color: transparent;
  background-image: linear-gradient(261deg, rgb(255, 126, 20) 0%, rgb(255, 218, 71) 100%);
  -webkit-background-clip: text;
  will-change: transform;
  font-size: 50px;
  font-family: "GILORY", Arial, sans-serif;
  line-height: 1;
  font-weight: 900;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  position: absolute;
  top: 147px;
}
.fst-section .fsheader-wr .fsheader-sub {
  margin: 0;
  color: #525252;
  font-size: 29px;
  font-family: "GILORY", Arial, sans-serif;
  text-align: center;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: 700;
  box-sizing: content-box;
  line-height: 1;
  text-align: center;
}
.fst-section .fsheader-wr .fsheader-txt {
  margin: 12px 0 0 0;
  color: #949494;
  font-size: 18px;
  font-family: "GILORY", Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  background-position: center center;
  border: 0;
  text-align: center;
}
.fst-section .fsheader {
  margin: 0;
  color: #262626;
  font-size: 50px;
  font-family: "GILORY", Arial, sans-serif;
  line-height: 1;
  font-weight: 700;
  background-position: center center;
  border: 0;
}
.fst-section .fsheader span {
  color: white;
}
.fst-section .imgblock {
  position: absolute;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  top: 195px;
  z-index: 0;
}
.fst-section .imgblock .photo-wr {
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  position: absolute;
  justify-items: flex-start;
  width: 291px;
  height: 174px;
  left: -749px;
  z-index: 0;
  opacity: 0.3;
}
.fst-section .imgblock .qr-wr {
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  position: absolute;
  justify-content: flex-end;
  bottom: 25px;
  left: 271px;
  top: 160px;
  width: 145px;
  height: 150px;
  z-index: 0;
  opacity: 0.1;
}
.fst-section .imgblock .qr-wr img {
  width: 145px;
  height: 150px;
}
.fst-section .btn-tff-block {
  margin-top: 38px;
}
.fst-section .btn-tff-block .btn-wr {
  position: relative;
  text-align: center;
  border-width: 1px;
  border-radius: 10px;
  background-image: linear-gradient(319deg, rgb(255, 111, 15) 0%, rgb(255, 175, 22) 100%);
  border-color: #ffaf16;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  box-shadow: 0px 0px 50px 0px rgba(255, 111, 15, 0.5);
  width: 344px;
  height: 50px;
  display: table-cell;
  vertical-align: middle;
  z-index: 3;
}
.fst-section .btn-tff-block .btn-wr .mouse {
  position: absolute;
  right: 4px;
  top: 24px;
  width: 37px;
  height: 37px;
}
.fst-section .btn-tff-block .btn-wr a {
  text-decoration: none;
  color: #ffffff;
  font-size: 21px;
  font-family: "GILORY", Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.fst-section .btn-tff-block .btn-wr:hover {
  background-image: linear-gradient(180deg, rgb(255, 111, 15) 0%, rgb(255, 175, 22) 100%);
}
.fst-section .btn-tff-block .btn-under-txt {
  position: relative;
  z-index: 3;
  color: #949494;
  font-size: 12px;
  font-family: "GILORY", Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  text-align: center;
  margin: 3px 0 0 0;
}
.fst-section .btn-tff-block .btn-under-txt span {
  font-weight: 700;
}
.fst-section .stories-promo {
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  margin-top: 51px;
  justify-content: center;
  position: relative;
  min-height: 600px;
}
.fst-section .stories-promo .center-wr {
  border-radius: 30px;
  position: absolute;
  left: -418px;
  overflow: visible;
  background-color: transparent;
}
.fst-section .stories-promo .center-wr .shadow-box {
  position: absolute;
  width: 563px;
  height: 360px;
  top: 82px;
  left: 179px;
  z-index: 0;
}
.fst-section .stories-promo .center-wr #shb1 {
  box-shadow: 0px 80px 250px 0px rgba(255, 175, 22, 0.8);
}
.fst-section .stories-promo .center-wr #shb2 {
  box-shadow: 0px 80px 250px 0px rgba(255, 175, 22, 0.8);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fst-section .stories-promo .center-wr img {
  position: relative;
  background-color: transparent;
  overflow-clip-margin: content-box;
  overflow: clip;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  z-index: 1;
}
.fst-section .stories-promo .left-wr {
  position: absolute;
  border-radius: 30px;
  top: 125px;
  left: -510px;
  width: 230px;
  height: 395px;
  background-image: url("/assets/img/imgs/left.jpeg");
  background-position: center;
  background-size: cover;
  z-index: 2;
  box-shadow: 0px 80px 250px 0px rgba(255, 175, 22, 0.3);
}
.fst-section .stories-promo .right-wr {
  position: absolute;
  border-radius: 30px;
  top: 190px;
  left: 350px;
  box-shadow: 0px 0px 60px 0px rgba(150, 150, 150, 0.7);
  z-index: 2;
}
.fst-section .stories-promo .right-wr .right {
  width: 153px;
  height: 304px;
  border-radius: 10px;
  display: block;
}
.fst-section .stories-promo .right-wr .border-photo {
  position: absolute;
  width: 177px;
  height: 320px;
  top: 16px;
  left: 17px;
}

/*# sourceMappingURL=style.css.map */
